<section>
  <p class="aligned">SUB-CATEGORIES</p>
  <!--<img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc7/294918_296538183769324_296535847102891_640403_1750675682_n.jpg" alt="ooga"></img>-->
  <% @sub_categories.each do |sub_category| %>
      <article class='list_types'>
        <img src="../../assets/rails.png" alt="" class="logo">

        <h1><%= link_to(sub_category.name, '#') %></h1>
      </article>
  <% end %>
</section>